<!DOCTYPE html>
<html lagn="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>에러가 발생했어요!</title>
</head>
<body>

<div class="container" style="text-align: center;">

    <h1 style="text-align: center;">죄송합니다 수리중이에요!</h1>
    <img th:src="@{/img/fixfel.jpg}" height="552" width="580" alt="fixmaster" />

</div>

</body>
</html>