<!DOCTYPE html>
<html lagn="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1-2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>환율 계산기</title>
</head>
<body>


<div class="container" style="width:800px; border: 1px solid black; margin-top: 20px ">
<form id="exrateCal" style="margin: 20px">
    <h1 style="margin-bottom: 20px">환율 계산</h1>

    <div class="input-group mb-sm-1" style="width:70%;">
        <div class="input-group-prepend">
            <span class="input-group-text">송금국가</span>
        </div>
        <select class="form-control" id="sendingCon">
            <option value="USD" >미국(USD)</option>
            <!--<option>2</option>-->
            <!--<option>3</option>-->
            <!--<option>4</option>-->
        </select>
    </div>

    <div class="input-group mb-sm-1" style="width:70%; padding-top: 10px">
        <div class="input-group-prepend">
            <span class="input-group-text">수취국가</span>
        </div>
        <select class="form-control" id="receivingCon">
            <option value="KRW" >한국(KRW)</option>
            <option value="JPN">일본(JPN)</option>
            <option value="PHP">필리핀(PHP)</option>
        </select>
    </div>


    <div class="field" style="width:70%; padding-top: 10px">
        <label><b>현재 환율 : </b></label>
        <div class="field">
            <span id="exRate"></span>
        </div>
    </div>

    <div class="input-group mb-sm-1" style="padding-top: 10px">
        <div class="input-group-prepend">
            <span class="input-group-text">송금액</span>
        </div>
        <input type="text" class="form-control"  id="sendingCash" placeholder="금액을 USD로 적어주세요">
        <div class="input-group-prepend">
            <span class="input-group-text">USD</span>
        </div>
        <div class="input-group-append">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
    </div>


</form>

</div>

</body>
</html>